<h1>Create Account</h1>

<p class="subtitle">Join MovieBook and reserve your favorite seats</p>
<form [formGroup]="form" (ngSubmit)="register()">
  <div class="form-group">
    <label>Username</label>
    <input formControlName="username" type="text" placeholder="Username" />
    @if (
      form.get('username')?.value !== '' &&
      form.get('username')?.touched &&
      form.get('username')?.hasError('required')
    ) {
      <p class="error-message">Username is required</p>
    }
    <p *ngIf="form.get('username')?.hasError('minlength')" class="error-message">
      Minimum 3 characters
    </p>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" formControlName="email" placeholder="Email" />
    @if (
      form.get('email')?.value !== '' &&
      form.get('email')?.touched &&
      form.get('email')?.hasError('required')
    ) {
      <p class="error-message">Email is required</p>
    }
  </div>

  <div class="form-group">
    <label>Password</label>
    <div class="password-group">
      <input
        formControlName="password"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Enter password"
      />
      <button type="button" class="toggle-password" (click)="togglePassword()">
        <div class="text-amber-50 text-sm">
          {{ showPassword ? 'Hidden' : 'Show' }}
        </div>
      </button>
    </div>
    @if (password?.touched) {
      @if (!hasMinLength()) {
        <p class="error-message">• Must be at least 8 characters</p>
      }

      @if (!hasUppercase()) {
        <p class="error-message">• Missing uppercase letter</p>
      }

      @if (!hasLowercase()) {
        <p class="error-message">• Missing lowercase letter</p>
      }

      @if (!hasNumber()) {
        <p class="error-message">• Missing number</p>
      }

      @if (!hasSpecial()) {
        <p class="error-message">• Missing special character</p>
      }
    }
  </div>

  <div class="form-group">
    <label>Confirm Password</label>
    <div class="password-group">
      <input
        formControlName="confirmPassword"
        [type]="showConfirmPassword ? 'text' : 'password'"
        placeholder="Confirm password"
      />
      <button type="button" class="toggle-password" (click)="toggleConfirmPassword()">
        <div class="text-amber-50 text-sm">
          {{ showPassword ? 'Hidden' : 'Show' }}
        </div>
      </button>
    </div>
    @if (form.hasError('passwordMismatch') && form.get('confirmPassword')?.touched) {
      <p>Passwords do not match</p>
    }
  </div>

  <button type="submit" class="btn-register">Create Account</button>

  <p class="login-link">
    Already have an account?
    <a routerLink="/auth/login">Login</a>
  </p>
</form>
