<section class="hero">
  <div class="hero-content">
    <h1 class="text-white">Book Your Movie Tickets Online</h1>
    <p class="text-white">
      Discover the latest blockbuster movies and reserve your seats instantly.
    </p>

    <button>Browse Movies</button>
  </div>
</section>

<section class="section">
  <h2 class="section-title">Now Showing</h2>

  <div class="movie-grid">
    @for (item of moviesList(); track $index) {
      <div class="movie-card">
        <img [src]="item.poster" alt="" />
        <div class="movie-info">
          <h3>{{ item.name }}</h3>
          <p>{{ item.type }}</p>
          @if (isLogined) {
            <button routerLink="/booking">Reserve Ticket</button>
          }
        </div>
      </div>
    }
  </div>
</section>
